/**
    create by wangzili on 2018/1/21
 */

html, body{
    font-size: 20px;  /* 设置根字体大小，下文使用rem */
}

.main-page{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.main{
    margin: auto;
    max-width: 37.5rem;
}

.main-topnav{
    padding-top: 2.25rem;  /*值等于topnav的高度*/
}

.main-foot{
    padding-bottom: 3rem;  /*值等于foot的高度*/
}

/***********
 * 底部导航
 */

.foot{
    z-index: 99;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 37.5rem;
    margin: auto;
    height: 3rem;
    border-top: 1px solid #a3a3a3;
    background-color: #FFF;
}

.page-tabs{
    display: flex;
}

.page-tab{
    flex: 1;
    padding: .4rem .75rem;
    text-align: center;
    font-size: .7rem;
    text-decoration: none;
    color: #adadad;
}

.page-tab .icon{
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.page-home .icon{
    background-image: url("../images/icon-home.png");
}

.page-product .icon{
    background-image: url("../images/icon-product.png");
}

.page-diy .icon{
    background-image: url("../images/icon-diy.png");
}

.page-search .icon{
    background-image: url("../images/icon-search.png");
}

.page-user .icon{
    background-image: url("../images/icon-user.png");
}

.page-tab.on{
    color: #856aaf;
}

.page-tab.on .icon{
    background-position: 0 -25px;
}

/* foot end */


/***********
 * 顶部导航，带回退按钮
 */

.topnav{
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 37.5rem;
    height: 2.25rem;
    border-bottom: 1px solid #a3a3a3;
    background-color: #FFF;
}

.topnav-title{
    line-height: 2.25rem;
    font-size: .95rem;
    text-align: center;
    font-weight: 700;
}

.topnav-left{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: .5rem;
}

.topnav-left .btn-back{
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background: url("../images/icon-back.png") no-repeat;
    background-size: 100% auto;
}

.topnav-right{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.topnav-right .btn-share{
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background: url("../images/icon-share.png") no-repeat;
    background-size: 100% auto;
}

.topnav .menu{
    padding: .5rem;
    width: 1.25rem;
    height: 1.25rem;
}

.topnav-right .btn-menu{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url("../images/icon-menu.png") no-repeat;
    background-size: 100% auto;
}

.topnav .menu .dropdown{
    padding: .5rem .65rem 1rem;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 2.25rem;
    right: .5rem;
    background-color: #000;
    opacity: .4;
    transform: scale(0);
    transition: all .3s ease-out;
    transform-origin: top right;
}

.topnav .menu .dropdown.show{
    transform: scale(1);
}

.topnav .menu .dropdown a{
    display: block;
    padding: .6rem;
    font-size: .65rem;
    color: #FFF;
    border-bottom: 1px dashed #FFF;
    text-decoration: none;
    white-space: nowrap;
}

.topnav-input{
    position: relative;
    margin: .45rem auto;
    padding: 0 1.65rem 0 .65rem;
    width: 50%;
    height: 1.3rem;
    line-height: 1.1rem;
    border: 1px solid #5c5277;
    border-radius: .65rem;
}

.topnav-input .input{
    padding: 0;
    width: 100%;
    height: 1.3rem;
    line-height: 1.3rem;
    border: 0;
    outline: none;
    font-size: .65rem;
}

.topnav-input .btn-search{
    position: absolute;
    top: .15rem;
    right: .65rem;
    padding: 0;
    width: 1rem;
    height: 1rem;
    border: 0;
    background: url("../images/icon-find.png") no-repeat;
    background-size: 100% auto;
}

/* 重写swiper样式 */
.page-slide{
    height: 100%;
}

.page-slide .swiper-container {
    width: 100%;
    height: 100%;
}

.page-slide .swiper-slide{
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 50% 50%;
}

.page-slide .swiper-pagination-bullet{
    width: 3px;
    height: 16px;
    border-radius: 0;
    background-color: rgba(255, 255, 255, .5);
}

.page-slide .swiper-pagination-bullet-active{
    background-color: rgba(255, 255, 255, 1);
}

.page-slide .swiper-container-vertical>.swiper-pagination-bullets{
    right: 36px;
}

.page-slide .swiper-wrapper{
    transition-timing-function: ease-in;
}

/* 图片自适应 */
img{
    width: 100%;
    height: auto;
    vertical-align: middle;
}

/* loading */
.loading{
    padding: 1rem 0;
    text-align: center;
    font-size: .6rem;
    color: #ccc;
}
.loading img{
    width: 2.5rem;
}

/* 弹窗遮罩层 */
.mask{
    z-index: 999;
    position: fixed;
    left: 0;
    right:0;
    top: 0;
    bottom:0;
    display: none;
    background-color: rgba(0, 0, 0, .5);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.popbox{
    z-index: 9999;
    position: absolute;
    left: .75rem;
    right: .75rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: .85rem;
    height: 40rem;
    border-radius: .5rem;
    background-color: #FFF;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transition: all ease-out .5s;
    -webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transform-origin: 50% 20%;
    -webkit-transform-origin: 50% 20%;
    -moz-transform-origin: 50% 20%;
    -o-transform-origin: 50% 20%;
}

.popbox.show{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
}

.popbox .close{
    position: absolute;
    right: .5rem;
    top: .5rem;
    width: 1rem;
    height: 1rem;
    background: url("../images/icon-close.png") no-repeat 50% 50%;
    background-size: 100% auto;
}
































