/**
    create by wangzili on 2018/1/31
 */

/**
    个人中心
 */

ul,
h1{
    margin:0;
    padding: 0;
}

.user-index{
    background-color: #f4f3f7;
    overflow: hidden;
}

.user-cover{
    height: 8rem;
    background: url("../images/img01.jpg") no-repeat 50% 50% #4a387b;
    background-size: cover;
}

.user-base-info{
    position: relative;
    margin-top: -2rem;
    padding: 0 .8rem 1rem;
    font-size: .7rem;
}

.user-base-info .headphoto{
    margin-bottom: .7rem;
    width: 4rem;
}

.btn-bind-tel{
    position: absolute;
    bottom: 1rem;
    right: .8rem;
    padding: 0 .7rem;
    height: 1rem;
    line-height: 1rem;
    font-size: .6rem;
    border-radius: .5rem;
    border:1px solid #4a387b;
    text-decoration: none;
    color: #7d7c82;
}

.tel-unbind{
}

.tel-unbind-head{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding:2.5rem 0;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    background-color:#BDAAD8;
    text-align: center;
}

.tel-unbind-head .icon{
    margin-right: 2rem;
    width: 2rem;
    height: 3rem;
}

.tel-unbind-text{
    margin: 0 1rem;
    padding: 7.5rem 0 .5rem;
    border-bottom: 1px solid #DDD;
}

.tel-unbind-text h2{
    margin: .8rem 0;
    font-size: .8rem;
}

.tel-unbind-text p{
    margin: .4rem 0;
    font-size: .7rem;
}

.tel-unbind-btn{
    padding: 1.65rem 0 .8rem;
    text-align: center;
}

.btn-bind{
    display: inline-block;
    width: 8rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-size: .7rem;
    color:#FFF;
    background-color:#856AAF;
    border-radius: .3rem;
    text-decoration: none;
}

.user-items{
    margin: .5rem 0;
    border-top: 1px solid #aea5c7;
    border-bottom: 1px solid #aea5c7;
    background-color: #FFF;
}

.user-item-row{
    position: relative;
    display: flex;
}

.user-item-row:not(:last-child)::after{
    content: "";
    position: absolute;
    left: .5rem;
    right: .5rem;
    bottom: 0;
    border-bottom: 1px dashed #aea5c7;
}

.user-item{
    position: relative;
    flex: 1;
    padding: .7rem 0;
    font-size: .6rem;
    text-align: center;
    text-decoration: none;
    color: #333;
}

.user-item div{
    margin-top: .3rem;
    color: #4a387b;
}

.user-item .icon{
    margin-bottom: .3rem;
    width: 1rem;
    height: 1rem;
}

.user-divide-vertical .user-item:not(:last-child)::after{
    content: '';
    position: absolute;
    right: 0;
    top: .8rem;
    bottom: .8rem;
    border-left: 1px dashed #aea5c7;
}

.cart-count{
    position: absolute;
    right: .8rem;
    top: .2rem;
    min-width: .8rem;
    height: .8rem;
    line-height: .8rem;
    font-size: .6rem;
    border-radius: .4rem;
    background-color: #f00;
    text-align: center;
}

.cart-count span{
    padding:0 4px;
    color: #FFF;
}

/* 条目 */
.cells{
    margin: .5rem 0;
    border-top: 1px solid #aea5c7;
    border-bottom: 1px solid #aea5c7;
    background-color: #FFF;
}

.cell{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: .6rem .8rem;
    font-size: .7rem;
    line-height: 1.1rem;
    text-decoration: none;
}

.cell:not(:last-child)::after{
    content: "";
    position: absolute;
    left: .8rem;
    right: .8rem;
    bottom: 0;
    height: 1px;
    background-color: #aea5c7;
}

.cell .label{
    flex: 1;
    color:#333;
}

.cell .state{
    color:#333;
}

.cell .arrow {
    margin-left: .5rem;
    width: 1rem;
}

.cell-input.cell .label{
    flex: none;
    min-width: 2.8rem;
}

.cell-input.cell .input{
    flex: 1;
    padding: 0 1rem;
}

.cell-input.cell input{
    padding: 0;
    border: 0;
    background-color: transparent;
    outline: none;
}


/* 个人信息 */
.user-info-headphoto{
    padding: 1rem 0;
    text-align: center;
}

.user-info-headphoto .headphoto{
    width: 5rem;
}

/* 定制详情 */
.diy-container{
    background-color: #F4F3F8;
}
.diy-header{
    display: flex;
    padding: 15% 1rem;
    justify-content: space-between;
    font-size: .7rem;
    color: #FFF;
    background: url("../images/img01.jpg") no-repeat;
    background-size: cover;
}

.diy-info{
    padding: .3rem .5rem;
    text-align: left;
    border-bottom: 1px solid #D4D1E4;
    background-color: #FFF;
}

.diy-info h2{
    margin: 0 0 .8rem;
    padding: .8rem .3rem;
    font-weight: 500;
    font-size: .8rem;
    border-bottom: 1px solid #D4D1E4;
}

.diy-info p{
    margin: .2rem 0;
    padding: 0 .3rem;
    font-size: .7rem;
    line-height: 1.2rem;
}

.diy-info .state{
    float: right;
    color:#CC0000;
}


.diy-order-info{
    display: flex;
}

.diy-order-info .img{
    width: 5rem;
}

.diy-order-info .text{
    flex: 1;
}

.diy-order-info .r{
    float: right;
}

.diy-order-info .r b{
    color: #4a387b;
}

.diy-order-info .tip{
    font-size: .65rem;
    color:#999;
}

.diy-box{
    margin-top: .5rem;
    padding: .3rem .5rem;
    border-top: 1px solid #D4D1E4;
    border-bottom: 1px solid #D4D1E4;
    background-color:#FFF;
}

.diy-box h2{
    margin: 0 0 .8rem;
    padding: .8rem .3rem;
    font-weight: 500;
    font-size: .8rem;
    border-bottom: 1px solid #D4D1E4;
}

.diy-box p{
    margin: .2rem 0;
    padding: 0 .3rem;
    font-size: .7rem;
    line-height: 1.2rem;
}

.diy-box a{
    color: #333;
}

.diy-bar{
    display: flex;
    padding: .6rem .5rem;
    border-top: 1px solid #DDD;
    background-color: #FFF;
}

.diy-bar .price{
    flex: 1;
    font-size: .7rem;
    line-height: 1.5rem;
}

.diy-bar .btn{
    margin: 0 .3rem;
    width: 4.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    font-size: .65rem;
    border-radius: 4px;
}

.diy-bar .btn-minor{
    border: 1px solid #bbb;
}

.diy-bar .btn-primary{
    border: 1px solid #856AAF;
    background-color:#856AAF;
    color:#FFF;
}

/* 我的定制 */
.diy-list-container{
    background-color: #F4F3F8;
}

.diy-list-container .tabnav .tab{
    font-size: .65rem;
}

.diy-list-container .tabnav{
    position: relative;
    background-color: #FFF;
}

.diy-list-container .tabnav::before{
    content: "";
    position: absolute;
    left: .5rem;
    right: .5rem;
    bottom: 0;
    border-top: 1px solid #DDD;
}

.diy-list-container .tabnav .tab.on::before{
    content: "";
    position: absolute;
    left: .5rem;
    right: .5rem;
    bottom: 0;
    border-top: 2px solid #231161;
}

.diy-list-container .diy-info{
    padding-bottom: 0;
    padding-top: .5rem;
}

.diy-list-container .diy-info:not(:last-child){
    margin-bottom: .5rem;
}

.diy-list-container .diy-info:not(:first-child){
    border-top: 1px solid #D4D1E4;
}

.diy-list-container .diy-order-info{
    padding: .3rem 0;
}

.diy-list-container .diy-bar{
    padding-left: 0;
    padding-right: 0;
}

/* 优惠券 */
.coupon-container{
    min-height: 100%;
    background-color: #F4F3F8;
}

.coupon-container .tabnav{
    background-color: #FFF;
}

.coupon-container .tabnav .tab.on::before{
    content: "";
    position: absolute;
    left: .5rem;
    right: .5rem;
    bottom: 0;
    border-top: 2px solid #231161;
}

.coupon-container .tabnav .tab{
    padding: .5rem 0;
}

.coupons{
    padding: 1rem;
}

.coupon{
    position: relative;
    display: flex;
    margin-bottom: .5rem;
}

.coupon.used{
    opacity: .5;
}

.coupon-price,
.coupon-type{
    padding: .8rem 0;
}

.coupon-price{
    flex: .6;
    padding-left: .5rem;
    color: #FFF;
    background-color:#5D52B2;
}

.coupon-type{
    flex: 1;
    padding-left: .8rem;
    text-align: left;
    color:#5D52B2;
    background-color:#FFF;
}

.coupon-price .price,
.coupon-type .text{
    margin-bottom: .6rem;
    font-size: .8rem;
}

.coupon-price .text,
.coupon-type .deadline{
    font-size: .6rem;
}

.coupon-btn{
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}

.coupon-btn a{
    display: block;
    font-size: .7rem;
    color:#FFF;
    text-decoration: none;
    background-color: #856AAF;
}

.coupon .radio{
    position: absolute;
    right: 1.5rem;
    top: 50%;
    margin-top: -.5rem;
}

/* 我的收藏 */
.fav-container{
    background-color: #F4F3F8;
}

.fav-container .tabnav .tab{
    font-size: .65rem;
}

.fav-container .tabnav{
    position: relative;
    background-color: #FFF;
}

.fav-container .tabnav::before{
    content: "";
    position: absolute;
    left: .5rem;
    right: .5rem;
    bottom: 0;
    border-top: 1px solid #DDD;
}

.fav-container .tabnav .tab.on::before{
    content: "";
    position: absolute;
    left: .5rem;
    right: .5rem;
    bottom: 0;
    border-top: 2px solid #231161;
}

.fav-container .cart-item{
    position: relative;
    margin: 0;
    border: 0 !important;
}

.fav-container .cart-item:not(:last-child)::before{
    content: "";
    position: absolute;
    left: .5rem;
    right: .5rem;
    bottom: 0;
    border-top: 1px solid #DDD;
}

.fav-container .btn-fav-cancel{
    position: absolute;
    right: 1rem;
    bottom: .8rem;
    margin: 0 .3rem;
    width: 4rem;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    font-size: .6rem;
    border-radius: 4px;
    border: 1px solid #856AAF;
    color: #856AAF;
}

/* 地址管理 */
.address-container{
    background-color: #F4F3F8;
}

.address{
    position: relative;
    background-color:#FFF;
    border-bottom: 1px solid #a3a3a3;
}

.address.default::before{
    content: "默认";
    position: absolute;
    left: 1rem;
    bottom: .55rem;
    padding: 2px 3px;
    background-color: #FE4070;
    border-radius: 3px;
    color:#FFF;
    font-size: .6rem;
}

.address:not(:first-child){
    border-top: 1px solid #a3a3a3;
}

.address:not(:last-child){
    margin-bottom: .5rem;
}

.address-body{
    padding: 0 1rem;
    font-size: .7rem;
    line-height: 1rem;
}

.address-body .tel{
    float: right;
}

.address-foot{
    padding: .5rem 1rem;
    border-top: 1px solid #a3a3a3;
    overflow: hidden;
}

.address-foot .btn{
    float: right;
    margin-left: 1rem;
    line-height: 1rem;
    font-size: .7rem;
    text-decoration: none;
    color:#333;
}

.address-foot .icon{
    float: left;
    margin-right: .3rem;
    width: 1rem;
}

.address-btn{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}

.address-btn a{
    display: block;
    font-size: .7rem;
    color:#FFF;
    text-decoration: none;
    background-color: #856AAF;
}

/* 新增收货地址 */
.address-new-container .cells{
    margin: 0;
    border: 0;
}

/* 我的订单 */
.order-info{
    margin-bottom: .5rem;
    padding: .3rem .5rem 0;
    text-align: left;
    border-bottom: 1px solid #D4D1E4;
    background-color: #FFF;
}

.order-info:not(:first-child){
    border-top: 1px solid #D4D1E4;
}

.order-info .state{
    float: right;
    color:#CC0000;
}

/* 申请售后 */
.aftermarket-form{
    margin: .5rem 1rem;
}
.aftermarket-form label{
    font-size: .7rem;
    color: #333;
}

.aftermarket-form-textarea{
    margin-top: .5rem;
    padding: .3rem .5rem;
    border: 1px solid #ada8bb;
    border-radius: .3rem;
}

.aftermarket-form-textarea textarea{
    padding: 0;
    width: 100%;
    height: 5rem;
    line-height: 1rem;
    border: 0;
    font-size: .65rem;
    outline: none;
    background-color: transparent;
    resize: none;
}

.aftermarket-btns{
    display: flex;
    justify-content: center;
}

.aftermarket-btns a{
    display: block;
    flex: 1;
}

.aftermarket-btns .btn-submit{
    margin: .75rem;
    max-width: 17rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: .3rem;
    font-size: .75rem;
    color: #FFF;
    text-decoration: none;
    background-color: #856aaf;
}

.aftermarket-tips{
    margin: .75rem 1rem;
    padding: 1rem .8rem;
    background-color: #f9f7fb;
}

.aftermarket-tips p{
    margin: 0;
    font-size: .65rem;
    line-height: 1.2rem;
    color: #7d7c82;
    text-indent: 0;
    text-align: justify;
}

/* 站内信 */
.news-container{
    padding: 1rem;
    background-color: #F9F7FC;
}

.news{
    margin-bottom: 1rem;
}

.news.unread .news-content::before{
    content: "";
    position: absolute;
    right: .8rem;
    top: .8rem;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #E50112;
}

.news-time{
    padding: .5rem;
    font-size: .7rem;
    text-align: center;
}

.news-content{
    position: relative;
    padding: .8rem;
    background-color:#FFF;
    border: 1px solid #ddd;
}

.news-content h2{
    margin: 0;
    font-size: .8rem;
}

.news-content p{
    margin-top: .5rem;
    margin-bottom: 0;
    font-size: .7rem;
    line-height: 1.2rem;
    text-align: justify;
}

/* 订单追踪 */
.track-head{
    display: flex;
    padding: .7rem 1rem;
    background: url("../images/img01.jpg") no-repeat 50% 50% #4a387b;
    background-size: cover;
}

.track-order-img{
    position: relative;
    width: 5rem;
    height: 5rem;
}

.track-order-img .text{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    font-size: .6rem;
    background-color: rgba(157,136,192,.5);
}

.track-order-info{
    flex: 1;
    padding: .4rem 0 .4rem 1.5rem;
}

.track-order-info p{
    font-size: .8rem;
    color:#FFF;
}

.track-body{
    padding: 0 1rem;
}

.track-body h2{
    margin: 0;
    padding: .7rem .4rem;
    font-size: .75rem;
    border-bottom: 1px solid #DDD;
}

.track-info{
    margin-top: 1rem;
}

.track-point{
    position: relative;
    padding-left: 2rem;
    padding-bottom: 1.5rem;
}

.track-point p{
    margin: 0 0 .3rem;
    font-size: .7rem;
}

.track-point::before{
    z-index: 9;
    content: '';
    position: absolute;
    left:8px;
    top: 0;
    width:.6rem;
    height: .6rem;
    background-color:#E1D7F0;
    opacity: 1;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #E1D7F0;
    border: 3px solid #FFF;
}

.track-point:not(:last-child)::after{
    content: '';
    position: absolute;
    left:17px;
    top: 0;
    bottom: 0;
    border-left: 1px solid #E1D7F0;
}

.track-point:first-child::after{
    top: 3px;
}

.track-point.current::before{
    background-color:#856AAF;
    box-shadow: 0 0 0 1px #856AAF;
}

